

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->                    
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ajouter un administrateur</h1>
                            </div>
                            <form class="user" #RegisterForm="ngForm" (ngSubmit)="register(RegisterForm)">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="nom"
                                            placeholder="Nom" [(ngModel)] = "adminModel.nom" name="nom" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="prenom"
                                            placeholder="Prénom" [(ngModel)] = "adminModel.prenom" name="prenom"required >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        placeholder="Adresse email" name="email" [(ngModel)] = "email" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password" placeholder="Mot de passe" 
                                             [(ngModel)] = "password" required [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Confirmer mot de passe" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)] = "confPassword"  required>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-user btn-block"  >
                                    Enregistrer
                                </button>
                                
                                
                            </form>
                          
                        </div>
                    
                  </div>
        </div>

    </div>

    



<router-outlet></router-outlet>


