<div class="container">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
           
            <div class="table table-sm">
                <table class="table table-sm">
                    <thead>
                      <th>Id</th>
                      <th>Email</th>
                      <td>Nom</td>
                      <td>Prénom</td>
                    </thead>
                    <ng-container *ngFor="let admin of adminArray">
                      <tr class="table table-sm" >
                            <td>{{admin.id}}</td>
                            <td>{{admin.email}}</td>
                            <td>{{admin.nom}}</td>
                            <td>{{admin.prenom}}</td>
                          <td>
                        
                            <button class="btn btn-outline-danger" >Delete</button>
                          </td>
                      </tr>
                    </ng-container>
                  </table>
                  <!--
                      <div class="alert alert-danger" *ngIf="showDeletedMessage">
                    Deleted successfully.
                  </div>
                  -->
                
                 
            </div>
            
        </div>
    </div>

</div>
